<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./images/logo.ico">

    <title>Mundo Movil</title>

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="./css/estilo.css" rel="stylesheet">
    <script src="./plugins/ckeditor/ckeditor.js"></script>

</head>

<body>
<div class="container content2">
    <div class="row">
        <div class="col-md-12">
            <!--Formulario login-->
            <div class="form-especial">
                <a rel="home" href="#" title="Mundo Movil">
                    <img class="logo2 img-responsive" src="./images/letra.png">
                </a>
                <div id="error">
                    <script>
                        document.getElementById("error").style.display="block";
                    </script>
                    Ya existe ese usuario
                </div>
                <div class="panel panel-default" data-lightbox="busqueda">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Registrarse en MundoMovil
                        </h3>
                    </div>
                    <form id="idformRegistroEspecial" method="POST" action="">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="text" class="form-control inp-log" name="" placeholder="Nombre usuario">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control inp-log" name="" placeholder="E-mail">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control inp-log" name="" placeholder="Ubicaci&oacute;n">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control inp-log" name="" placeholder="Contrase&ntilde;a">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control inp-log" name="" placeholder="Repite contrase&ntilde;a">
                                    </div>
                                </div>
                                <div class="col-md-5 imagenReg">
                                    <div class="form-group img-regis">
                                        <img id="imgPerfil" src="./images/perfil.jpg" alt="ImagenPerfil" class="img-rounded img-responsive">
                                    </div>
                                    <div class="form-group">
                                        <label>Selecciona avatar</label>
                                        <div class="inp-file3">
                                            <input type="file" id="files" name="files[]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer btn-form">
                            <button type="button" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
                <div class="volver">
                    <a href="" >
                        << Volver a MundoMovil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="./js/jquery.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.js"></script>
<script src="./js/ie10-viewport-bug-workaround.js"></script>
<script src="./js/ie-emulation-modes-warning.js"></script>
<script src="js/javascript.js" type="text/javascript" ></script>


</body>
</html>