<!DOCTYPE html>
<html lang="es">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="./images/logo.ico">

		<title>Mundo Movil</title>

		<link href="./css/bootstrap.css" rel="stylesheet">
		<link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="./css/estilo.css" rel="stylesheet">

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top barra-nav">
		  <div class="container">
			<div class="navbar-header">
				<div class="container-fluid">
					<a class="navbar-brand" rel="home" href="#" title="Mundo Movil">
						<img class="logo img-responsive" src="./images/letra.png">
					</a>
				</div>
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-sec">
					<li><a href="#">NOTICIAS</a></li>
					<li><a href="#">TUTORIALES</a></li>
					<li><a href="#">FOROS</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-sec2">
					<li class="busqueda">
						<a class="btn btn-link" onclick="mostrar_busqueda()">
							<span class="glyphicon glyphicon-search"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-link" onclick="mostrar_login()">
							<span class="glyphicon glyphicon-user"></span>
						</a>
					</li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hola, Diego <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Perfil</a></li>
							<li><a href="#">Administrar usuarios</a></li>
							<li><a href="#">Cerrar sesi&oacute;n</a></li>
						</ul>
					</li>-->
				</ul>
			</div>
		  </div>
		</nav>
		<div class="container content">
			<div class="row vistaNoticia">
				<div class="col-md-12">
					<!--Desde aqui-->
					<span id="panelAdminMos">
						<a onclick="mostrar_panel_creacion()" class="btn glyphicon glyphicon-menu-down"></a>
					</span>
					<div id="panelAdmin" class="row botonesNoticia">
						<div class="col-md-12">
							<h4>Panel de administraci&oacute;n de tutorial</h4>
							<a href="" class="btn btn-default">Modificar</a>
							<a href="javascript:preguntarEliminar('http://www.google.es')" class="btn btn-default">Eliminar</a>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ocultar_panel_creacion()">&times;</button>
						</div>
					</div>
					 <!--Mostrar hasta aqui si es creador-->
					<div class="row cuerpo-not">
						<div class="row">
							<div class="col-md 12 tituloTut2">
								<div class="datosVerTut">
									22-03-2016 | 12:36
									<span>
										Autor:
											<a href="" >
												 Diego
											</a>
									</span>
								</div>
								<h2>
									Navega de forma segura y anónima por la red Tor desde tu smartphone
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="clavNot clavTut text-muted">
									<a href="">
										Android
									</a>
									<a href="">
										smartphone
									</a>
									<a href="">
										rom
									</a>
									<a href="">
										samsung
									</a>
								</div>
								<div class="textoNoticia">
									La red Tor nos permite conectarnos a Internet de forma anónima y segura, evitando que grandes organizaciones o piratas informáticos puedan espiar y controlar nuestra actividad. Aunque la red Tor es más conocida como conexión segura a través de un ordenador también es posible conectarnos a esta red desde nuestro smartphone Android fácilmente gracias a Orweb y Orbot.
									La conexión a esta red se realiza mediante la combinación de dos aplicaciones: Orweb y Orbot. Para no liarnos explicamos lo que es cada programa:
									Orweb: Un navegador web adaptado y preparado para funcionar sólo a través de la red Tor.
									Orbot: El proxy que nos permite redirigir nuestro tráfico a través de la red Tor.
									Lo primero que debemos hacer es descargarnos el navegador, Orweb, de forma gratuita desde la Play Store.
									En lo que respecta a términos de conectividad, ambos smartphones presentan las mismas características, a excepción de la compatibilidad NFC por la que trabaja Apple Pay, ya que ambos smartphones son compatibles con redes 4G.
								</div>
								<div class="comentariosNoticia">
									<div class="titComNot">
										<h3>80 COMENTARIOS</h3>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<div class="panelCom">
												<h4>Deja tu comentario</h4>
												<a href="javascript:mostrar_comentario_noticia('null')" class="btn btn-warning">Comentar</a>
											</div>
											<div class="coment">
												<!--Bucle-->
												<div class="comentario">
													<div class="row cabeceraCom">
														<div class="col-md-7 aut">
															#1 <a href="">
																	petete300 
																</a>
														</div>
														<div class="col-md-5 fec">
															22-03-2016 | 12:36
														</div>
													</div>
													<div class="row cuerpoCom">
														<div class="col-md-12">
															<a onmouseover="mostrar_respuesta_comentario()" onmouseout="ocultar_respuesta_comentario()" >#1</a>
															<div id="comentarioRespuesta" class="well">
																Dice asi que es
															</div>
															Reconocido por él mismo, por Xavi, y por la prensa tanto de Madrid como de Barcelona que el señor Iker Casillas llamó a Xavier Hernández para acercar posturas y pedirle disculpas por los piques surgidos en los clásicos precedentes. Genio, XDD.

														</div>
													</div>
													<div class="row pieCom">
														<div class="col-md-12">
															<a href="javascript:mostrar_comentario_noticia('')" class="btn btn-default">
																Responder
															</a>
														</div>
													</div>
												</div>
												<!--Tope-->
												<div class="pieComNot"></div>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<nav class="paginacion">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Anterior">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Siguiente">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="text-muted">
							Traballo Fin de Grao 2016. Escola Superior de Enxeñer&iacute;a Inform&aacute;tica.
							Diego Neira Fern&aacute;ndez	
						</p>
					</div>
				</div>
			</div>
			<!--Boton de scroll to top-->
			
			<span id="top-link-block" class="hidden">
				<a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
					<i class="glyphicon glyphicon-chevron-up"></i>
				</a>
			</span>
		</footer>
	<!--Sombra de pagina-->
	
	<div id="fade" class="black_overlay"></div>
	
	
	<!--- Formularios busqueda -->
		
		<div id="formBusqueda" class="formulario-js">
			<div class="panel panel-default" data-lightbox="busqueda">
				<div class="panel-heading">
					<h3 class="panel-title">
						Buscar en MundoMovil
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ocultar_busqueda()">&times;</button>
					</h3>
				</div>
				<form id="idformBusq" method="POST" action="">
					<div class="panel-body">
					Introduzca los t&eacute;minos de su b&uacute;squeda y pulse en Buscar
						<input type="text" class="form-control prim-imp" name="" placeholder="...">
						<div class="row">
							<div class="col-md-5">
								<div class="radio">
									<label>
										<input type="radio" name="opciones" id="opciones_1" value="opcion_1">
										Noticias
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="opciones" id="opciones_2" value="opcion_2">
										Tutoriales
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="opciones" id="opciones_3" value="opcion_3">
										Foros
									</label>
								</div>
							</div>
							<div class="col-md-7">
								<div class="radio">
									<label>
										Filtrar por:
										<select class="form-control select-filtro" name="">
											  <option value="autor">autor</option>
											  <option value="contenido">contenido</option>
											  <option value="palabras">palabras clave</option>
										</select>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer btn-form">						
						<button type="reset" class="btn btn-default" onclick="ocultar_busqueda()">Cancelar</button>
						<button type="button" class="btn btn-primary">Buscar</button>
					</div>
				</form>
			</div>
		</div>
		
		<!--Formulario login-->
		
		<div id="formLogin" class="formulario-js">
			<div class="panel panel-default" data-lightbox="busqueda">
				<div class="panel-heading">
					<h3 class="panel-title">
						Entrar en MundoMovil
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ocultar_login()">&times;</button>
					</h3>
				</div>
				<form id="idformLogin" method="POST" action="">
					<div class="panel-body">
						<div class="form-group">
							<input type="text" class="form-control inp-log" name="" placeholder="Introduce E-mail">
						</div>
						<div class="form-group">
							<input type="password" class="form-control inp-log" name="" placeholder="Introduce contrase&ntilde;a">
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-link" onclick="mostrar_registro()">
									¿No tienes cuenta? Reg&iacute;strate ahora
								</a>
							</div>
							<div class="col-md-6 btn-form">
								<button type="reset" class="btn btn-default" onclick="ocultar_login()">Cancelar</button>
								<button type="button" class="btn btn-primary">Entrar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<!--Formulario registro-->
		
		<div id="formRegistro" class="formulario-js">
			<div class="panel panel-default" data-lightbox="busqueda">
				<div class="panel-heading">
					<h3 class="panel-title">
						Registrarse en MundoMovil
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ocultar_registro()">&times;</button>
					</h3>
				</div>
				<form id="idformLogin" method="POST" action="">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<input type="text" class="form-control inp-log" name="" placeholder="Nombre usuario">
								</div>
								<div class="form-group">
									<input type="text" class="form-control inp-log" name="" placeholder="E-mail">
								</div>
								<div class="form-group">
									<input type="text" class="form-control inp-log" name="" placeholder="Ubicaci&oacute;n">
								</div>
								<div class="form-group">
									<input type="password" class="form-control inp-log" name="" placeholder="Contrase&ntilde;a">
								</div>
								<div class="form-group">
									<input type="password" class="form-control inp-log" name="" placeholder="Repite contrase&ntilde;a">
								</div>
							</div>
							<div class="col-md-5 imagenReg">
								<div class="form-group img-regis">
									<img id="imgPerfil" src="./images/perfil.jpg" alt="ImagenPerfil" class="img-rounded img-responsive">
								</div>
								<div class="form-group">
									<label>Selecciona avatar</label>
									<div class="inp-file">
										<input type="file" id="files" name="files[]">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer btn-form">
						<button type="reset" class="btn btn-default" onclick="ocultar_registro()">Cancelar</button>
						<button type="button" class="btn btn-primary">Registrar</button>
					</div>
				</form>
			</div>
		</div>
		
		<!--- Formularios enviar mensaje -->
		
		<div id="formComentNoticia" class="formulario-js">
			<div class="panel panel-default" data-lightbox="busqueda">
				<div class="panel-heading">
					<h3 class="panel-title">
						Comentar noticia
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ocultar_comentario_noticia">&times;</button>
					</h3>
				</div>
				<form id="idformBusq" method="POST" action="">
					<div class="panel-body">
						Introduzca el contenido del comentario y pulse Enviar
						<div></div>
						<label class="lbl-dest">Comentario:</label>
						<textarea type="text" class="form-control" name="" placeholder="..."></textarea>
					</div>
					<div class="panel-footer btn-form">						
						<button type="reset" class="btn btn-default" onclick="ocultar_comentario_noticia()">Cancelar</button>
						<button type="button" class="btn btn-primary">Enviar</button>
					</div>
					<div id="idRespComNot"></div>
				</form>
			</div>
		</div>
	
		
		<script src="./js/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="./js/bootstrap.js"></script>
		<script src="./js/ie10-viewport-bug-workaround.js"></script>
		<script src="./js/ie-emulation-modes-warning.js"></script>
		<script src="js/javascript.js" type="text/javascript" ></script>
	  

	</body>
</html>